<!DOCTYPE html>
<html>
    <head>
        <title>Flask_Chat_App</title>
        <style> 
            body { 
                text-align:center; 
            } 
            h1 { 
                color:green; 
            } 
        </style> 
      </head>
      <body>
        {% if name %}
        <h1>Welcome to Flask Chat App {{ name }}.</h1>
        {% else %}
        <h1>Welcome to Flask Chat App.</h1>
        {% endif %}
        <div>
            <a href="/chat">
                <button>Start Chat</button>
             </a>
        </div>
        <divs>
            <a href="/logout">
                <button> Logout </button>
             </a>
        </div>
       
      </body>
</html>