<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <style>
    div,h3, form {
      text-align:center; 
    }
  </style>
  <body>
    <div>
      <button onclick="join_chat_room()">Join Chat Room</button>
      <button onclick="leave_chat_room()">Leave Chat Room</button>
    </div>
    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      
      // socket.on('connect', function(){
      //   socket.emit('message','I\'m connected!');
      // });
      // // general chat
      // socket.on( 'connect', function() {
      //   socket.emit( 'my event', {
      //     data: 'User Connected'
      //   });
      // chat room
      
      function join_chat_room(){
        var socket = io();
        console.log("@@@@@@@@@@@@@");
        socket.on('connect', function() {
        socket.emit('join', {username:'hello', room: 'room1'});
        });
      }
      
      function leave_chat_room(){
        var socket = io();
        console.log("@@@@@@@@@@@@@");
        socket.on('connect', function() {
        socket.emit('leave', {username:'hello', room: 'room1'});
        });
      }
    </script>

  </body>
  </html>